html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}

* {
  text-align: center;
  font-family: "Montserrat", serif sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a {
  /*color: #455d7a*/
  color: #f95959
}

a:hover {
  /*color: #1b6ec2;*/
  color: #455d7a;
}

.nav-item, .nav-link {
  background-color: #f95959;
  /*background-color: #258cfb;*/
  border-radius: 10px;
  margin-right: 4px;
}

.navbar-brand {
  /*display: inline-block;*/

}

.navbar-brand img {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
}

header, .navbar {
  /*background-color: #f95959*/
  /*background-color: #455d7a*/
  background-color: #233142;
}



body {
  margin-bottom: 60px;
  background-color: #e3e3e3;
}

footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  background-color: white;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px;
  border-radius: 10px;
}

/* === Food items on main menu === */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.flex-container > div {
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  background-color: #FAF9F6;
}

.flex-container > div:hover {
  background-color: #f95959;
  cursor: pointer;
  /*color: #e3e3e3;*/
}

.flex-container a {
  text-decoration: none;
  color: inherit;
}

h2 {
  text-align: center;
  font-weight: 400;
}
h3 {
  text-align: center;
  font-weight: 400;
}

/*Search bar*/

button {
  background-color: #FAF9F6;
  font-weight: 200;
}

button:hover {
  background-color: #f95959;
}

button, .searchbar {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: thin;
}

.searchbar{
  width: 80%;
  margin-right: 5px;
  text-align: left;
}