/* === boilerplate === */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


:root {
  --bs-body-font-family: "Montserrat", sans-serif;
}

* {
  text-align: center;
  font-family: "Montserrat", serif sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

a:hover {
  color: #f95959
}

a {
  /*color: #1b6ec2;*/
  color: #455d7a;
}

/*header {*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/

header .nav-item, header .nav-link {
  background-color: #233142;
  /*background-color: #455d7a;*/
  color: #e3e3e3;
  border-radius: 10px;
  margin-right: 2px;
  margin-left: 2px;
  font-weight: 400;
}

/*change colour of any button-like object that is hovered on*/
button:hover, 
.nav-pills .nav-link:hover, 
.flex-container > div:hover {
  transition: all 0.4s ease;
  -webkit-transition-duration: 0.4s;
  background-color: #f95959;
  color: black;
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 10px;
}

header .nav-link:hover {
  transition: all 0.4s ease;
  -webkit-transition-duration: 0.4s;
  background-color: #455d7a;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 10px;
}


  /*change font weight of any button-like object that is hovered on*/
button:hover,
header .nav-link:hover,
.nav-pills .nav-link:hover,
.flex-container > div:hover p,
.flex-container > div:hover h3 {
  transition: all 0.4s ease;
  -webkit-transition-duration: 0.4s;
  /*font-weight: 450;*/
}

.navbar-brand img {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 100px;
}

header, .navbar {
  /*background-color: #f95959*/
  /*background-color: #455d7a*/
  background-color: #233142;
  min-height: 50px;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  z-index: 1000;
}

/*fixes weird colouring on "Access Denied" page*/
main header { 
  background-color: inherit;
}

body {
  /*margin: 0px 0px 150px;*/
  margin-bottom: auto;
  min-height: 100vh;
  background-color: #e3e3e3;
  background-image: url('background.jpg');
  padding-bottom: 60px;
}

footer {
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  background-color: #e3e3e3;
  margin: auto;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;

}

main {
  background-color: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 50px 50px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);  /* x-offset, y-offset, blur-radius, color */
}

/* === Food items on main menu === */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-container > div { /* item within flex-container */
  font-weight: lighter;
  text-align: center;
  height: 100%;
  width: 100%;
  /*padding: 5px;*/
  border-radius: 10px;
  margin: 10px;
  background-color: #FAF9F6;
  max-width: 300px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);  /* x-offset, y-offset, blur-radius, color */
}

.flex-container > div img { /*images in a flex container item*/
  padding-bottom: 5px;
  max-width: 100%;
  /*max-height: 250px;*/
  margin: auto;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

.flex-container a {
  text-decoration: none;
  color: inherit;
}

.flex-container h3 {
  text-align: center;
  font-weight: 400;
}

/*Search bar*/

button {
  background-color: #FAF9F6;
  font-weight: 200;
}

button, 
.searchbar {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: thin;
}

.flex-container button {
  margin-left: 5px;
}

.searchbar{
  width: 500px;
  /*margin-right: 5px;*/
  text-align: left;
}

/* Account Management */
.nav-pills .navitem {
  background-color: #FAF9F6;
}
.nav-pills .nav-link {
  color: black;
  background-color: #FAF9F6;
}

.nav-pills .nav-link.active {
  background-color: #455d7a;
}

.nav-pills .nav-link.active:hover {
color: white; /*stops the text going black without the background going red*/
}

/*Affects the right side content of the account management pages.*/
.row {
  justify-content: center;
  margin: auto;
}

.btn-primary {
  background-color: #455d7a;
}
.btn-danger {
  background-color: #f95959;
}

#map script,
#map noscript{
  width: 600px;
  height: 400px;
  align-content: center;
  justify-content: center;
  display: flex;
}

form input {
  
}

li {
  text-align: left;
}